.square{
	background-color:purple;
	margin:1.6%;
	width:30%;
	float:left;
	
	border-radius: 12%;
	transition:background-color 1s;
	}
html, body{background-color:#232323;
	margin:0px;
	padding:0px;
}

h1{color:white;
text-align:center;
background-color:steelblue;
height:125px;
margin:0px;
padding-top:15px;
transition:background-color 1s;
font-size:80px;
font-family:serif;
}

h2{color:white;
text-align:center;}

.container{
	padding-right:30%;
	padding-left:30%;

}

.square:after {		/*for keeping heigh=width of boxes*/
	content:"";		/*no idea  how it works*/
  display: block;
  padding-bottom: 100%;
}
p{font-size:20px;
margin:0px;
padding:0px;
font-weight:normal;
line-height: 1px

}
