.square{
	background-color:purple;
	float:left;
	height:100px;
	width: 30%;
	margin:1.6%;
	min-width:100px;
	border-radius: 12%;
	-webkit-transition:background-color 1s;



	}
html, body{background-color:#232323;
	margin:0px;
	padding:0px;
}

h1{color:white;
text-align:center;
background-color:steelblue;
height:125px;
margin-left: 0px;
margin-top: 0px;
padding-top: 0px;
transition:background-color 1s;
}

h2{color:white;
text-align:center;}

.container{
	padding-right:30%;
	padding-left:30%;

}

